<footer class="container-fluid page-footer">
    <div class="row row-contact">
      <div class="col-12">
        <p class="mb-0 text-center">
          <strong>&#xFE68; Julie Gauthron</strong><br>
          <a class="contact-link" href="tel:+33(0)682191365">+33(0)6 82 19 13 65</a><br>
          <a class="contact-link" href="mailto:info@exquise-esquisse.com">julie.gauthron@exquise-esquisse.com</a>
        </p>
      </div>
    </div>
    <div class="row row-redirect">
      <div class="col-12 text-center">
        <a href="http://exquise-esquisse.com" target="_blank">exquise-esquisse.com</a>
      </div>
    </div>
</footer>
